<section class="bg-color">
    <div class="containers">
        <div class="title">
            <p>Bem vindo a loja do Mano-Jonas</p>
            <h1><span>NOVOS</span> PRODUTOS </h1>
        </div>
    </div>

    <div class="nav-filtro">
        <nav>
            <ul class="filtro">
                <li><a href="#">Todos os produtos</a></li>
                <li><a href="#">Lançamentos</a></li>
                <li><a href="#">Com desconto</a></li>
            </ul>
        </nav>
    </div>
</section>


<!-- <nav class="filtro-nav">
    <ul class="filtro">
        <li class="filtro-itens"><a href="#">Todos os produtos</a></li>
        <li class="filtro-itens"><a href="#">Lançamentos</a></li>
        <li class="filtro-itens"><a href="#">Com desconto</a></li>
    </ul>
</nav> -->
