<section class="card-produtos">
    <div class="produtos">
        <div class="produto">
            <img src="../../../assets/imagens/produto1.jpg">
            <div class="produto-info">
                <h4 class="produto-title">Produto-1</h4>
                <p class="produto-preco">R$ 849,90</p>
                <a class="produto-btn" href="#">Comprar</a>
            </div>
        </div>

        <div class="produto">
            <img src="../../../assets/imagens/produto2.jpg">
            <div class="produto-info">
                <h4 class="produto-title">Produto-2</h4>
                <p class="produto-preco">R$ 979,90</p>
                <a class="produto-btn" href="#">Comprar</a>
            </div>
        </div>

        <div class="produto">
            <img src="../../../assets/imagens/produto3.jpg">
            <div class="produto-info">
                <h4 class="produto-title">Produto-3</h4>
                <p class="produto-preco">R$ 749,90</p>
                <a class="produto-btn" href="#">Comprar</a>
            </div>
        </div>

        <div class="produto">
            <img src="../../../assets/imagens/produto4.jpg">
            <div class="produto-info">
                <h4 class="produto-title">Produto-4</h4>
                <p class="produto-preco">R$ 889,90</p>
                <a class="produto-btn" href="#">Comprar</a>
            </div>
        </div>

        <div class="produto">
            <img src="../../../assets/imagens/produto5.jpg">
            <div class="produto-info">
                <h4 class="produto-title">Produto-5</h4>
                <p class="produto-preco">R$ 929,90</p>
                <a class="produto-btn" href="#">Comprar</a>
            </div>
        </div>

        <div class="produto">
            <img src="../../../assets/imagens/produto6.jpg">
            <div class="produto-info">
                <h4 class="produto-title">Produto-6</h4>
                <p class="produto-preco">R$ 949,90</p>
                <a class="produto-btn" href="#">Comprar</a>
            </div>
        </div>

        <div class="produto">
            <img src="../../../assets/imagens/produto7.jpg">
            <div class="produto-info">
                <h4 class="produto-title">Produto-7</h4>
                <p class="produto-preco">R$ 899,90</p>
                <a class="produto-btn" href="#">Comprar</a>
            </div>
        </div>

        <div class="produto">
            <img src="../../../assets/imagens/produto8.jpg">
            <div class="produto-info">
                <h4 class="produto-title">Produto-8</h4>
                <p class="produto-preco">R$ 799,90</p>
                <a class="produto-btn" href="#">Comprar</a>
            </div>
        </div>

        <div class="produto">
            <img src="../../../assets/imagens/produto9.jpg">
            <div class="produto-info">
                <h4 class="produto-title">Produto-9</h4>
                <p class="produto-preco">R$ 999,90</p>
                <a class="produto-btn" href="#">Comprar</a>
            </div>
        </div>

        <div class="produto">
            <img src="../../../assets/imagens/produto10.jpg">
            <div class="produto-info">
                <h4 class="produto-title">Produto-10</h4>
                <p class="produto-preco">R$ 999,90</p>
                <a class="produto-btn" href="#">Comprar</a>
            </div>
        </div>

        <div class="produto">
            <img src="../../../assets/imagens/produto11.jpg">
            <div class="produto-info">
                <h4 class="produto-title">Produto-11</h4>
                <p class="produto-preco">R$ 999,90</p>
                <a class="produto-btn" href="#">Comprar</a>
            </div>
        </div>
    </div>
</section>


<!-- <div class="produto-container">
    <div class="p"><img src="../../../assets/imagens/produto1.jpg" alt="Produto"></div>
    <div class="p"><img src="../../../assets/imagens/produto2.jpg" alt="Produto"></div>
    <div class="p"><img src="../../../assets/imagens/produto3.jpg" alt="Produto"></div>
    <div class="p"><img src="../../../assets/imagens/produto4.jpg" alt="Produto"></div>
</div> -->